.heading {
	font-size: 64px;
	font-weight: 600;
	line-height: 80px;
	letter-spacing: -0.02em;
	color: #EBEEF5;
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
}

.head {
	width: 588px;
	padding-bottom: 24px;
}